@import url(../vendor/fonts/font.css);

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* классический адаптив по Яндексу */

.page {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  background: -o-linear-gradient(30deg, #543ab7 0%, #00acc1 100%);
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
}

.content {
  background: rgb(255, 255, 255);
}

.header {
  position: relative;
  text-align: center;
  color: white;
  max-width: 1204px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 48px;
}

@media screen and (max-width: 1279px) {
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 720px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
    max-width: 320px;
  }
}

.header__logo-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1460px;
}

@media (max-width: 767px) {
  .header__logo-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 280px;
  }
}

.header__link {
  z-index: 3;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  cursor: pointer;
  padding-right: 100px;
}

.header__link:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .header__link {
    padding: 40px 0 0 0;
    margin: 0 auto;
  }
}

.header__logo {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 30px;
  height: 80px;
  width: 280px;
  background-size: cover;
}

@media (max-width: 1023px) {
  .header__logo {
    height: 60px;
    width: 210px;
  }
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 20px 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 56px;
  line-height: 1.04;
  margin: 65px 0 0 40px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 1279px) {
  .header__title {
    margin: 57px 0 0 40px;
    font-size: 40px;
  }
}

@media (max-width: 1023px) {
  .header__title {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .header__title {
    margin: 35px auto 0;
    font-size: 23px;
    line-height: 1.1;
  }
}

.header__text {
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: white;
  margin: 5px 0 35px 40px;
  text-align: center;
}

@media (max-width: 1279px) {
  .header__text {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .header__text {
    margin: 5px auto 35px;
    font-size: 9.6px;
    font-weight: 400;
    line-height: 1.25;
  }
}

/*Waves Container*/

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
          animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
@-webkit-keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}
@keyframes move-forever {
  0% {
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(85px, 0, 0);
            transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.elements {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 3.1em 3em;
  text-align: center;
  max-width: 1184px;
}

@media (max-width: 1156px) {
  .elements {
    max-width: 900px;
  }
}

@media (max-width: 886px) {
  .elements {
    max-width: 640px;
  }
}

@media (max-width: 769px) {
  .elements {
    max-width: 530px;
  }
}

@media (max-width: 524px) {
  .elements {
    max-width: 500px;
  }
}

.elements__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 20px;
}

@media (max-width: 524px) {
  .elements__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  width: 250px;
  padding: 15px 20px;
  position: relative;
  height: 400px;
  -webkit-transition: 0.01s linear;
  -o-transition: 0.01s linear;
  transition: 0.01s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -o-linear-gradient(30deg, #543ab7 0%, #00acc1 100%);
  background: linear-gradient(60deg, #543ab7 0%, #00acc1 100%);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .card {
    width: 204px;
    height: 350px;
  }
}

.card_active {
  height: 600px;
}

@media (max-width: 768px) {
  .card_active {
    height: 560px;
  }
}

.card__link-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  outline: none;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  cursor: pointer;
}

.card__link-app:hover {
  opacity: 0.5;
}

.card__image-app {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 3;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 5px solid #ffffff;
  margin: 0;
}

@media (max-width: 768px) {
  .card__image-app {
    height: 170px;
    width: 170px;
  }
}

.card__title {
  padding-top: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  font-size: 21px;
  line-height: 1.1;
  margin: 0;
}

@media (max-width: 768px) {
  .card__title {
    font-size: 18px;
  }
}

.card__text {
  color: #ffffff;
  text-align: center;
  text-shadow: none;
  text-transform: none;
  font-style: italic;
  font-size: 15px;
  font-weight: 400;
  visibility: hidden;
  position: fixed;
  margin: 0;
}

.card__text_active {
  visibility: visible;
  position: relative;
}

.card__bth {
  width: 150px;
  height: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  background-color: #976969;
  border-radius: 10px;
  border: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
  cursor: pointer;
  padding: 5px 10px;
}

.card__bth:hover {
  opacity: 0.5;
}

.card__bth_active {
  background-color: rgb(100, 95, 93);
}

.footer {
  padding: 42px 48px 24px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1204px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 720px;
    padding: 40px 24px 22px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 64px 16px 24px 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 48px;
    max-width: 320px;
  }
}

.footer__links {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px;
    padding-left: 16px;
  }
}

@media screen and (max-width: 352px) {
  .footer__links {
    padding-left: 0;
  }
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
  z-index: 1;
  -webkit-transition: opacity 0.3s linear 0.3s;
  -o-transition: opacity 0.3s linear 0.3s;
  transition: opacity 0.3s linear 0.3s;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .footer__link {
    font-size: 20px;
    line-height: 1;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: right;
  color: #ffffff;
  margin: 0;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    line-height: 1;
    text-align: start;
    padding-left: 16px;
    font-size: 10px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 352px) {
  .footer__copyright {
    padding-left: 0;
  }
}
