@import url(../vendor/fonts/font.css);

.container > header,
.codrops-top {
	font-family: 'Inter', sans-serif;
}



.container > header h1 {
	font-size: 56px;
    line-height: 1.04;
	margin: 100px 0 40px 40px;
	font-weight: 900;
	text-transform: uppercase;
}



.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #716d62;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.container > section {
	margin: 0 auto;
	padding: 2.4em 3em 8em 3em;
	text-align: center;
}

.color-9 {
	background: rgb(255, 255, 255);
}